<div>
  <canvas id="canvas"></canvas>
</div>
<div id="toolbar">
  <button id="adding-line-btn1" class="btn1" (click)="selectedTool('line')">AddLine</button>
  <button id="adding-line-btn2" class="btn2" (click)="selectedTool('triangle')">AddTriangle</button>
  <button id="adding-line-btn3" class="btn3" (click)="selectedTool('rectangle')">AddRectangle</button>
  <button id="adding-line-btn4" class="btn4" (click)="selectedTool('circle')">AddCircle</button>
  <button id="adding-line-btn5" class="btn5" (click)="selectedTool('ellips')">AddEllips</button>
  <button id="adding-line-btn6" class="btn6" (click)="selectedTool('polygon')">AddPolygon</button>
</div>
